<div class="container well">
        <div class="com-md-12"><h2>Room {{roomName}}</h2></div>
        <div class="col-md-6">
            <minesweeper [gameBoard]="board" ></minesweeper>
        </div>
        <div class="col-md-6">
            <div>
                <h4>Lista graczy</h4>
                <ul class="list-group" *ngIf="players.length">
                    <li class="list-group-item" *ngFor="let player of players">{{player}}</li>
                </ul>
            </div>
            <chat></chat>
            <nav>
                <button (click)="leaveRoom()" class="btn btn-default">Opuść pokój</button>
            </nav>
        </div>
    </div>