<div>
        <div class="container well">
        <h2>Poczekalnia</h2>
            <div class="col-md-4">
                <h3>Lista pokoi</h3>
                <ul class="list-group rooms" *ngIf="rooms.length"> 
                    <li class="list-group-item" (click)="joinRoom(room)" *ngFor="let room of rooms">{{room.name}}<span class="badge">{{room.players}}/{{room.maxPlayers}} graczy</span></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Lista graczy</h3>
                <ul class="list-group" *ngIf="waitingUsers.length">
                    <li class="list-group-item" *ngFor="let user of waitingUsers">{{user}}</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Utwórz nowy pokój</h3>
                <div class="form-group">
                    <input (keyup.enter)="createRoom()" [(ngModel)]="name" type="text" class="form-control" placeholder="Nazwa pokoju">
                </div>
                <div class="form-group">
                    <input (keyup.enter)="createRoom()" [(ngModel)]="width" min="2" max="10" step="1" type="number" class="form-control" placeholder="szerokość planszy">
                </div>
                <div class="form-group">
                    <input (keyup.enter)="createRoom()" [(ngModel)]="height" min="2" max="10" step="1" type="number" class="form-control" placeholder="wysokość planszy">
                </div>
                <div class="form-group">
                    <input (keyup.enter)="createRoom()" [(ngModel)]="bombs" min="0" max="99" step="1" type="number" class="form-control" placeholder="ilość bomb">
                </div>
                <div class="form-group">
                    <input (keyup.enter)="createRoom()" [(ngModel)]="players" min="1" max="10" step="1" type="number" class="form-control" placeholder="ilość graczy">
                </div>
                <button (click)="createRoom()" type="Utwórz pokój" class="btn btn-default">Graj</button>
            </div>
        </div>
    </div>
